{template 'header'}
<div class="m">
<div class="left_box">		
	<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; 身份验证</div>
	<br/><br/><br/><br/>
		<form method="post" action="{$MOD[linkurl]}private.php">
		<input type="hidden" name="itemid" value="{$itemid}"/>
		<input type="hidden" name="page" value="{$page}"/>
		<table width="300" cellpadding="5" align="center">
		<tr style="display:none;">
		<td><input name="iebug" type="text" size="30"/></td>
		</tr>
		{if $open == 2}
		<tr>
		<td class="px14"><img src="{DT_SKIN}image/ico_lock.gif" width="16" height="16" align="absmiddle"/> <strong>请输入访问密码</strong></td>
		</tr>
		{elseif $open == 1}
		<tr>
		<td class="px14"><img src="{DT_SKIN}image/ico_lock.gif" width="16" height="16" align="absmiddle"/> <strong>请回答，{$question}？</strong></td>
		</tr>
		{/if}
		<tr>
		<td><input name="key" type="text" size="30"/>&nbsp;&nbsp;<span class="f_red">{$error}</span></td>
		</tr>
		<tr>
		<td><input type="submit" name="submit" value=" 确 定 " class="px14"/></td>
		</tr>
		</table>
		</form>
	<br/><br/><br/><br/><br/>
</div>
</div>
{template 'footer'}