{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="m">
<div class="m_l f_l">
	<div class="left_box">
		<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}</div>
		{if $CP}
		{loop $PPT $p}
		<div class="ppt">
			<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
			<td class="ppt_l" valign="top">按{$p[name]}</td>
			<td class="ppt_r" valign="top">
			{loop $p[options] $o}
			<a href="###" onclick="Go(sh+'&ppt_{$p[oid]}={urlencode($o)}');">{$o}</a>&nbsp;|&nbsp;
			{/loop}
			</td>
			</tr>
			</table>
		</div>
		{/loop}
		{/if}
		<div class="b10">&nbsp;</div>
		<div class="downlist">
		{if $tags}{template 'list-'.$module, 'tag'}{/if}
		</div>
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r f_l">
	<div class="box_head"><div><strong>按分类浏览</strong></div></div>
	<div class="box_body">
	<table width="100%" cellpadding="3">
	{loop $maincat $k $v}
	{if $k%2==0}<tr>{/if}
	<td{if $v[catid]==$catid} class="f_b"{/if}><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>
	{if $k%2==1}</tr>{/if}
	{/loop}
	</table>
	</div>
	<div class="b10 c_b"> </div>
	<div class="box_head"><div><strong>推荐{$MOD[name]}</strong></div></div>
	<div class="box_body">
	<!--{tag("moduleid=$moduleid&condition=status=3 and level>0&pagesize=10&order=addtime desc&template=list-down")}-->
	</div>
	<div class="b10 c_b"> </div>
	<div class="box_head"><div><strong>本类下载排行</strong></div></div>
	<div class="box_body">
	<div class="rank_list"><!--{tag("moduleid=$moduleid&condition=status=3&catid=$catid&order=download desc&pagesize=10")}--></div>
	</div>
	<div class="b10 c_b"> </div>
	<div class="box_head"><div><strong>总下载排行</strong></div></div>
	<div class="box_body">
	<div class="rank_list"><!--{tag("moduleid=$moduleid&condition=status=3&order=download desc&pagesize=10")}--></div>
	</div>
</div>
</div>
{template 'footer'}