{template 'header'}
<div class="m">
	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
	<td valign="top" class="left_menu">
		<ul>
		<li class="left_menu_li"><a href="{$MODULE[1][linkurl]}">网站首页</a></li>
		<li class="left_menu_li" id="type_0"><a href="{$url}">公告中心</a></li>
		{loop $_TP[0] $v0}
		<li class="left_menu_li" id="type_{$v0[typeid]}"><a href="{$url}{list_url($v0[typeid])}">{$v0[typename]}</a></li>
			{if isset($_TP[1][$v0[typeid]])}
			{loop $_TP[1][$v0[typeid]] $v1}
			<li class="left_menu_li" id="type_{$v1[typeid]}"><a href="{$url}{list_url($v1[typeid])}">&nbsp;|- {$v1[typename]}</a></li>
			{/loop}
			{/if}
		{/loop}
		</ul>
	</td>
	<td valign="top">
		<div class="left_box">		
			<div class="pos">
			<span class="f_r">
			<form action="{$url}index.php">
			<input type="text" name="kw" size="20" value="{if $kw}{$kw}{else}关键词{/if}" onfocus="if(this.value=='关键词')this.value='';" id="an_kw"/>&nbsp;
			<input type="submit" value=" 搜索 " onclick="if(Dd('an_kw').value=='关键词' || Dd('an_kw').value.length<2){Dd('an_kw').focus();return false;}"/>
			<input type="button" value=" 重搜 " onclick="Go('{$url}');"/>
			</form>
			</span>
			当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$url}">公告中心{if $typeid} &raquo; <a href="{$url}{list_url($typeid)}">{$TYPE[$typeid][typename]}</a>{/if}</a>
			</div>
			{if $itemid}
			<div style="margin:5px 15px 5px 15px;line-height:36px;" class="t_c px14"><strong>{$title}</strong></div>
			<div class="info f_gray"><span class="f_r"><script type="text/javascript">addFav('[收藏]');</script>&nbsp;<span  onclick="Print();">[打印]</span></span>添加时间：{$adddate}&nbsp;&nbsp;&nbsp;有效期：{$fromdate} 至 {$todate}&nbsp;&nbsp;&nbsp;浏览次数：<span id="hits">{$hits}</span></div>
			<div class="content" id="content">{$content}</div>
			{else}
			<div class="b10">&nbsp;</div>
			<table cellpadding="5" cellspacing="5" width="98%" align="center">
			{loop $lists $k $v}
			<tr>
			<td>&middot; {if !$typeid}<a href="{$url}{list_url($v[typeid])}">[{$v[typename]}]</a>&nbsp;{/if}<a href="{$v[linkurl]}"{if $v[islink]} target="_blank"{/if}>{$v[title]}</a></td>
			<td class="f_gray" width="120">浏览:{$v[hits]}</td>
			<td class="f_gray" width="120" align="center">{$v[adddate]}</td>
			</tr>
			{/loop}
			</table>
			<div class="pages">{$pages}</div>
			{/if}
		<br/>
		</div>
	</td>
	</tr>
	</table>
</div>
<script type="text/javascript">try{Dd('type_{$typeid}').className='left_menu_on';}catch(e){}</script>
{template 'footer'}