{template 'header'}
<div class="m">
	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
	<td valign="top" class="left_menu">
		<ul>
		<li class="left_menu_li"><a href="{$MODULE[1][linkurl]}">网站首页</a></li>
		<!--{php $tags=tag("table=webpage&condition=item='$_item'&areaid=$cityid&pagesize=99&order=listorder desc,itemid desc&template=null");}-->
		{loop $tags $k $t}
		<li class="left_menu_li" id="webpage_{$t[itemid]}"><a href="{if $t[domain]}{$t[domain]}{else}{linkurl($t[linkurl], 1)}{/if}">{$t[title]}</a></li>
		{/loop}
		</ul>
	</td>
	<td valign="top">
		<div class="left_box">
			<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{DT_PATH}{$linkurl}">{$title}</a></div>
			<div style="border-bottom:#C0C0C0 1px dotted;margin:5px 15px 5px 15px;line-height:36px;" class="t_c px14"><strong>{$title}</strong></div>
			<div class="content" id="content">{$content}</div>
		<br/>
		</div>
	</td>
	</tr>
	</table>
</div>
<script type="text/javascript">try{Dd('webpage_{$itemid}').className='left_menu_on';}catch(e){}</script>
{template 'footer'}