{template 'header', 'mobile'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{$back_link}" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">网站公告</div>
</div>
<div class="head-bar-fix"></div>
</div>
{if $itemid}
<div class="main">
	<div class="title"><strong>{$title}</strong></div>
	{if $islink}
	<div class="info">{$adddate}</div>
	<div class="content"><a href="{$linkurl}" rel="external" class="b">{$linkurl}</a><br/></div>
	{else}
	<div class="info">{$adddate}&nbsp;&nbsp;点击:{$hits}</div>
	<div class="content">{$content}</div>
	{/if}
</div>
{else}
{loop $lists $v}
<div class="list-img" style="height:60px;padding:0 20px;">
<ul>
<li><a href="announce.php?itemid={$v[itemid]}"><strong>{$v[title]}</a></strong></li>
<li><span>{$v[date]}</span></li>
</ul>
</div>
{/loop}
{/if}
{template 'footer', 'mobile'}