{template 'header', 'mobile'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
<a href="{$back_link}" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
</div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right">
<a href="{$HURL}&action=type&item={$action}"><img src="static/img/icon-sort.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
{if $itemid}
<div class="main">
	<div class="title"><strong>{$title}</strong></div>
	<div class="info">{$date}&nbsp;&nbsp;点击:{$hits}</div>
	<div class="content">{$content}</div>
</div>
{else}
	{if $lists}
	<ul class="list-txt">
	{loop $lists $v}
	<li><span>{$v[date]}</span><a href="{$HURL}&action={$action}&itemid={$v[itemid]}">{$v[title]}</a></li>
	{/loop}
	</ul>
	{else}
	{template 'chip-empty', 'mobile'}
	{/if}
{/if}
{if $pages}<div class="pages">{$pages}</div>{/if}
{template 'footer', 'mobile'}