<div class="bd-t">
{if $lists}
<div class="bd-b" style="line-height:44px;text-align:center;color:#007AFF;font-size:13px;padding:0 10px;">
	<span {if $star==0} class="f_b"{/if} onclick="load_comment('1&star=0');">全部({$items})</span>&nbsp;&nbsp;
	<span {if $star==3} class="f_b"{/if} onclick="load_comment('1&star=3');">好评({$stat[s3]})</span>&nbsp;&nbsp;
	<span {if $star==2} class="f_b"{/if} onclick="load_comment('1&star=2');">中评({$stat[s2]})</span>&nbsp;&nbsp;
	<span {if $star==1} class="f_b"{/if} onclick="load_comment('1&star=1');">差评({$stat[s1]})</span>
</div>
{loop $lists $k $v}
<div style="padding:10px 16px 0 16px;">
	<span class="f_r px12"><span class="f_gray">{$v[addtime]}</span> {$STARS[$v[seller_star]]}</span>
	{hide_name($v[buyer])}
</div>
<div class="content">
{if $v[seller_comment]}{nl2br($v[seller_comment])}{else}买家没有发表评价内容{/if}
{if $v[buyer_reply]}
<br/><span class="px12 f_gray"><span style="color:blue;">卖家</span> {$v[replytime]} 回复： </span>
<br/>{nl2br($v[buyer_reply])}
{/if}
</div>
{/loop}
{if $pages}<div class="pages bd-b">{$pages}</div>{/if}
{else}
<div class="bd-b"><br/><br/><center>暂无评价</center><br/><br/></div>
{/if}
</div>