{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="m">
<div class="m_l f_l">
	<div class="left_box">		
		<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; 正文</div>
		<h1 class="title" id="title">{$title}</h1>
		<div class="info"><span class="f_r"><img src="{DT_SKIN}image/zoomin.gif" width="16" height="16" alt="放大字体" class="c_p" onclick="fontZoom('+');"/>&nbsp;&nbsp;<img src="{DT_SKIN}image/zoomout.gif" width="16" height="16"  alt="缩小字体" class="c_p" onclick="fontZoom('-');"/></span>
		发布日期：{$adddate}
		&nbsp;&nbsp;浏览次数：<span id="hits">{$hits}</span>
		&nbsp;&nbsp;状态：<img src="{DT_STATIC}file/image/process_{$process}.gif" id="process" alt="状态" align="absmiddle"/>
		</div>
		<div class="pd20">
			<table cellspacing="1" cellpadding="10" width="100%" class="ctb">
			<tr>
			<td class="ltd">展会日期</td>
			<td class="rtd">{$fromtime} 至 {$totime}</td>
			</tr>
			<tr>
			<td class="ltd">展出城市</td>
			<td class="rtd">{$city}</td>
			</tr>
			<tr>
			<td class="ltd">展出地址</td>
			<td class="rtd">{$address}</td>
			</tr>
			<tr>
			<td class="ltd">展馆名称</td>
			<td class="rtd">{$hallname}</td>
			</tr>
			<tr>
			<td class="ltd">主办单位</td>
			<td class="rtd">{$sponsor}</td>
			</tr>
			{if $undertaker}
			<tr>
			<td class="ltd">承办单位</td>
			<td class="rtd">{$undertaker}</td>
			</tr>
			{/if}			
			{if $homepage}
			<tr>
			<td class="ltd">官方网站</td>
			<td class="rtd"><a href="{$homepage}" target="_blank" class="b">{$homepage}</a></td>
			</tr>
			{/if}
			{if $sign && $process == 1 && $username}
			<tr>
			<td class="ltd">在线报名</td>
			<td class="rtd"><img src="{DT_SKIN}image/btn_sign.gif" alt="在线报名" class="c_p" onclick="Go('{$MOD[linkurl]}{rewrite('sign.php?itemid='.$itemid)}');"/></td>
			</tr>
			{/if}
			</table>
		</div>
		<div class="left_head">展会说明</div>
		<div id="content" class="content">{template 'content', 'chip'}</div>
		<div class="b10">&nbsp;</div>
		{if $remark}
		<div class="left_head">展会备注</div>
		<div class="content">{nl2br($remark)}</div>
		<div class="b10">&nbsp;</div>
		{/if}
		{if $CP}{template 'property', 'chip'}{/if}
		<center>
		[ <a href="{$MOD[linkurl]}search.php" rel="nofollow">{$MOD[name]}搜索</a> ]&nbsp;
		[ <a href="javascript:SendFav();">加入收藏</a> ]&nbsp;
		[ <a href="javascript:SendPage();">告诉好友</a> ]&nbsp;
		[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
		[ <a href="javascript:SendReport();">违规举报</a> ]&nbsp;
		[ <a href="javascript:window.close()">关闭窗口</a> ]
		</center>
		<br/>
		{template 'comment', 'chip'}
		<br/>
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
	<div class="m_r f_l">
		<div class="box_head"><div><strong>按分类浏览</strong></div></div>
		<div class="box_body">
		<table width="100%" cellpadding="3">
		{loop $maincat $k $v}
		{if $k%2==0}<tr>{/if}
		<td><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a>{if !$cityid} <span class="f_gray px10">({$v[item]})</span>{/if}</td>
		{if $k%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>
		<div class="b10 c_b">&nbsp;</div>
		<div class="box_head"><div><strong>最新{$MOD[name]}</strong></div></div>
		<div class="box_body f_gray li_dot"><!--{tag("moduleid=$moduleid&condition=status>2&areaid=$cityid&order=".$MOD[order]."&pagesize=10")}--></div>
	</div>
</div>
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
{template 'footer'}