{template 'header'}
<div class="m b10">&nbsp;</div>
<div class="m">
	<h1 class="title">{$DT[sitename]}会员服务一览表</h1>
	<table cellpadding="8" cellspacing="1" width="100%" bgcolor="#DDDDDD">
	<tr bgcolor="#F4F4F4" align="center">
	<td class="f_b px14" width="{$percent}">服务范围\会员组</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td class="f_b px14" width="{$percent}">{$v[groupname]}</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>收费模式</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if $v[fee_mode]}<span class="f_red">包年</span>{else}<span class="f_green">免费</span>{/if}</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>年 费</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if $v[fee]}<span class="f_red"><strong>{$v[fee]}</strong> {$DT[money_unit]}/年</span>{else}--{/if}</td>
	{/if}{/loop}
	</tr>
	{if $UP}
	<tr bgcolor="#FFFFFF" align="center">
	<td>&nbsp;</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if isset($UP[$k])}<a href="?groupid={$v[groupid]}#up"><img src="{DT_SKIN}image/btn_upgrade.gif"/></a>{else}&nbsp;{/if}</td>
	{/if}{/loop}
	</tr>
	{/if}
	<tr bgcolor="#FFFFFF" align="center">
	<td>允许发布信息</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td valign="top" class="f_gray">
	{loop $DM $m}
		{if in_array($m[moduleid], $v[moduleids])}<a href="{$m[linkurl]}" target="_blank">{$m[name]}</a> | {/if}
	{/loop}
	</td>
	{/if}
	{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>拥有{VIP}标识 <img src="{DT_SKIN}image/vip.gif" align="absmiddle" alt="{VIP}" title="{VIP}"/></td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[vip]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>信息优先排序</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[vip]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>产品首页推荐</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[vip]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>产品在线销售</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[trade_sell]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>信息关键字排名</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[spread]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>拥有公司主页</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[homepage]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>自定义公司主页</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[home]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>自定义公司模板</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[style]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>


	<tr bgcolor="#FFFFFF" align="center">
	<td>客户服务</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[ask]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>商机订阅</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[mail]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>邮件发送</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td><img src="{DT_SKIN}image/{if $v[sendmail]}yes{else}no{/if}.gif"/></td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>收件箱容量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[inbox_limit] == -1}
	0
	{elseif $v[inbox_limit] == 0}
	不限
	{else}
	{$v[inbox_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	
	<tr bgcolor="#FFFFFF" align="center">
	<td>每日可发站内信</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[message_limit] == -1}
	0
	{elseif $v[message_limit] == 0}
	不限
	{else}
	{$v[message_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	
	<tr bgcolor="#FFFFFF" align="center">
	<td>每日询盘次数</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[inquiry_limit] == -1}
	0
	{elseif $v[inquiry_limit] == 0}
	不限
	{else}
	{$v[inquiry_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>每日报价次数</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[price_limit] == -1}
	0
	{elseif $v[price_limit] == 0}
	不限
	{else}
	{$v[price_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	
	<tr bgcolor="#FFFFFF" align="center">
	<td>商友数量数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[friend_limit] == -1}
	0
	{elseif $v[friend_limit] == 0}
	不限
	{else}
	{$v[friend_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>贸易提醒数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[alert_limit] == -1}
	0
	{elseif $v[alert_limit] == 0}
	不限
	{else}
	{$v[alert_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	<tr bgcolor="#FFFFFF" align="center">
	<td>商机收藏数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[favorite_limit] == -1}
	0
	{elseif $v[favorite_limit] == 0}
	不限
	{else}
	{$v[favorite_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	{if $MODULE[16]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>发布商品数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[mall_limit] == -1}
	0
	{elseif $v[mall_limit] == 0}
	不限
	{else}
	{$v[mall_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[5]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>供应信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[sell_limit] == -1}
	0
	{elseif $v[sell_limit] == 0}
	不限
	{else}
	{$v[sell_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[6]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>求购信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[buy_limit] == -1}
	0
	{elseif $v[buy_limit] == 0}
	不限
	{else}
	{$v[buy_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	<tr bgcolor="#FFFFFF" align="center">
	<td>招商信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[info_limit] == -1}
	0
	{elseif $v[info_limit] == 0}
	不限
	{else}
	{$v[info_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	{if $MODULE[8]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>展会信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[exhibit_limit] == -1}
	0
	{elseif $v[exhibit_limit] == 0}
	不限
	{else}
	{$v[exhibit_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[9]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>招聘信息数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[job_limit] == -1}
	0
	{elseif $v[job_limit] == 0}
	不限
	{else}
	{$v[job_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	<tr bgcolor="#FFFFFF" align="center">
	<td>新闻稿件数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[article_limit] == -1}
	0
	{elseif $v[article_limit] == 0}
	不限
	{else}
	{$v[article_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>

	{if $MODULE[9]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>个人简历数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[resume_limit] == -1}
	0
	{elseif $v[resume_limit] == 0}
	不限
	{else}
	{$v[resume_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[10]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>行业知道数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[know_limit] == -1}
	0
	{elseif $v[know_limit] == 0}
	不限
	{else}
	{$v[know_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[13]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>公司品牌数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[brand_limit] == -1}
	0
	{elseif $v[brand_limit] == 0}
	不限
	{else}
	{$v[brand_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[17]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>发布团购数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[group_limit] == -1}
	0
	{elseif $v[group_limit] == 0}
	不限
	{else}
	{$v[group_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[12]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>公司相册数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[photo_limit] == -1}
	0
	{elseif $v[photo_limit] == 0}
	不限
	{else}
	{$v[photo_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[14]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>公司视频数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[video_limit] == -1}
	0
	{elseif $v[video_limit] == 0}
	不限
	{else}
	{$v[video_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $MODULE[15]}
	<tr bgcolor="#FFFFFF" align="center">
	<td>上传资料数量</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>
	{if $v[down_limit] == -1}
	0
	{elseif $v[down_limit] == 0}
	不限
	{else}
	{$v[down_limit]}
	{/if}
	</td>
	{/if}{/loop}
	</tr>
	{/if}

	{if $UP}
	<tr bgcolor="#FFFFFF" align="center">
	<td>&nbsp;</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td>{if isset($UP[$k])}<a href="?groupid={$v[groupid]}#up"><img src="{DT_SKIN}image/btn_upgrade.gif"/></a>{else}&nbsp;{/if}</td>
	{/if}{/loop}
	</tr>
	{/if}

	<tr bgcolor="#F4F4F4" align="center">
	<td class="f_b px14" width="{$percent}">服务范围\会员组</td>
	{loop $GROUPS $k $v}{if $k > 4}
	<td class="f_b px14" width="{$percent}">{$v[groupname]}</td>
	{/if}{/loop}
	</tr>
	</table>
</div>

<div class="m b10">&nbsp;</div>

<div class="m">
<div class="m_l f_l">
	<div class="box_head"><div><strong>在线升级</strong><a name="up"></a></div></div>
	<div class="box_body">
		<form method="post" action="?" onsubmit="return check();">
		<input type="hidden" name="groupid" value="{$groupid}"/>
		<table cellpadding="6" cellspacing="0" width="100%">
		<tr>
		<td align="right" width="100" height="25"><span class="f_red">*</span> 升级为：</td>
		<td>
		<span class="f_orange f_b">
		{if $UP}
			{if $groupid}
			{$UP[$groupid][groupname]}
			{else}
			请选择升级会员组
			{/if}
		{else}
			暂时没有供您升级的会员组
		{/if}
		</span>
		&nbsp;&nbsp;
		{if $_userid}
		您的当前会员组为<strong>{$GROUP[$_groupid][groupname]}</strong>
		{else}
		您还没有登录，建议您先 <a href="{$DT[file_login]}" class="f_b">登录</a > 或 <a href="{$DT[file_register]}" class="f_b">注册会员</a>
		{/if}
		</td>
		</tr>
		{if $fee}
		<tr>
		<td align="right"><span class="f_red">*</span> 所需费用：</td>
		<td><span class="f_red f_b">{$fee}{$DT[money_unit]}/年</span></td>
		</tr>
		<tr>
		<td align="right">优惠码：</td>
		<td><input name="promo_code" type="text" id="promo_code" size="20" value="" style="border:green 2px solid;padding:2px;font-size:14px;margin:0 0 5px;" onblur="pcode(this.value);"/><br/><span class="f_gray" id="code">使用优惠码可充抵部分费用或获赠一段有效期</span>
		</td>
		</tr>
		{/if}
		{if $need_fee}
		<tr>
		<td align="right">账户余额：</td>
		<td><span class="f_blue f_b">{$_money} {$DT[money_unit]}</span> {if $fee>$_money}&nbsp;&nbsp;您的余额不足， <a href="charge.php?action=pay" target="_blank" class="f_b">请充值</a>{/if}</td>
		</tr>
		{/if}
		<tr>
		<td align="right"><span class="f_red">*</span> 公司全称：</td>
		<td><input type="text" name="company" id="company" value="{$company}" size="50"/><br/><span id="dcompany" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right"><span class="f_red">*</span> 联系人：</td>
		<td><input name="truename" type="text" id="truename" size="20" value="{$truename}" /> <br/><span id="dtruename" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right"><span class="f_red">*</span> 电话号码：</td>
		<td><input name="telephone" id="telephone" type="text" size="30" value="{$telephone}"/> <span id="dtelephone" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right">手机号码：</td>
		<td><input name="mobile" id="mobile" type="text" size="30" value="{$mobile}"/> <span id="dmobile" class="f_red"></span></td>
		</tr>
		<tr>
		<td align="right">电子邮件：</td>
		<td><input name="email" id="email" type="text" size="30" value="{$email}" /></td>
		</tr>
		{if $DT[im_qq]}
		<tr>
		<td align="right">QQ：</td>
		<td><input name="qq" type="text" size="20" value="{$qq}"/></td>
		</tr>
		{/if}
		{if $DT[im_ali]}
		<tr>
		<td align="right">阿里旺旺：</td>
		<td><input name="ali" type="text" size="20" value="{$ali}"/></td>
		</tr>
		{/if}
		{if $DT[im_msn]}
		<tr>
		<td align="right">MSN：</td>
		<td><input name="msn" type="text" size="30" value="{$msn}"/></td>
		</tr>
		{/if}
		{if $DT[im_skype]}
		<tr>
		<td align="right">Skype：</td>
		<td><input name="skype" type="text" size="20" value="{$skype}"/></td>
		</tr>
		{/if}
		<tr>
		<td align="right">附言：</td>
		<td>
		<textarea style="width:400px;height:60px;" name="content" id="content"></textarea><br/>
		<span id="dcontent" class="f_red"></span>- 500字内
		</td>
		</tr>
		<tr>
		<td align="right"> </td>
		<td><input type="submit" name="submit" value=" 提 交 "{if !$could_up} disabled{/if}/></td>
		</tr>
		</table>
		</form>
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r f_l">
	<div class="box_head"><div><strong>相关说明</strong></div></div>
	<div class="box_body">
		<div style="line-height:24px;font-size:13px;padding:5px;">
		- 如果升级有任何问题，请致电客户专员<br/>
		&nbsp;&nbsp;服务电话：{$DT[telephone]}<br/>
		</div>
	</div>
	<div class="b10"> </div>
	<div class="box_head"><div><span class="f_r"><a href="{$MODULE[4][linkurl]}{rewrite('search.php?vip=1')}">更多&raquo;</a></span><strong>最新{VIP}</strong></div></div>
	<div class="box_body li_dot f_gray">
		<div id="vips" style="height:220px;overflow:hidden;">
		<!--{tag("moduleid=4&condition=vip>0&areaid=$cityid&pagesize=20&order=fromtime desc&template=list-com")}-->
		</div>
	</div>
</div>
</div>

<script type="text/javascript" src="{DT_STATIC}file/script/marquee.js"></script>
<script type="text/javascript">
new dmarquee(22, 20, 2000, 'vips');
function pcode(s) {
	if(s.length > 4) {
		makeRequest('action={crypt_action('promo')}&code='+s, '?', '_pcode');
	}
}
function _pcode() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		if(xmlHttp.responseText) Dd('code').innerHTML = '<span class="f_red">'+xmlHttp.responseText+'</span>';
	}
}
function check() {
	{if !$could_up}
	return false;
	{/if}
	if(Dd('company').value.length < 2) {
		Dmsg('请填写公司全称', 'company');
		return false;
	}
	if(Dd('truename').value.length < 2) {
		Dmsg('请填写联系人', 'truename');
		return false;
	}
	if(Dd('telephone').value.length < 6) {
		Dmsg('请填写电话号码', 'telephone');
		return false;
	}
	if(Dd('content').value.length > 500) {
		Dmsg('附言最多500字 当前已输入'+Dd('content').value.length+' 字', 'content');
		return false;
	}
	return confirm('确认填写无误，提交此升级申请吗？');
}
</script>
{template 'footer'}