{template 'header', $module}
<script type="text/javascript">c(1);</script>
{if $MYMODS}
{if $_userid}
{else}
<div class="warn">您还没有登录，目前仅拥有以下栏目的发布权限，建议您 <a href="{$DT[file_login]}" class="t">立即登录</a> 或 <a href="{$DT[file_register]}" class="t">注册会员</a></div>
{/if}
<table cellspacing="1" cellpadding="10" class="tb">
{loop $MYMODS $v}
{if $v == 9}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">招聘</a></td>
<td class="tr">
{if $_userid}<a href="?mid={$v}" class="b">管理</a>&nbsp;&nbsp;{/if}
<a href="?mid={$v}&action=add" class="b">发布</a>
</td>
</tr>
{elseif $v==-9}
<tr>
<td class="tl"><a href="{$MODULE[9][linkurl]}" target="_blank">简历</a></td>
<td class="tr">
{if $_userid}<a href="?mid=9&resume=1" class="b">管理</a>&nbsp;&nbsp;{/if}
<a href="?mid=9&action=add&resume=1" class="b">发布</a>
</td>
</tr>
{else}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">{$MODULE[$v][name]}</a></td>
<td class="tr">
{if $_userid}<a href="?mid={$v}" class="b">管理</a>&nbsp;&nbsp;{/if}
<a href="?mid={$v}&action=add" class="b">发布</a>
</td>
</tr>
{/if}
{/loop}
</table>
{else}
	{if $_userid}
	<div class="warn">尊敬的<strong>{$MG[groupname]}</strong>，您的会员组没有在本站发布信息的权限，请返回。&nbsp;&nbsp;<a href="./" class="t">点击返回商务中心首页</a></div>
	{else}
	<div class="warn">您还没有登录，目前没有信息发布权限，建议您 <a href="{$DT[file_login]}" class="t">立即登录</a> 或 <a href="{$DT[file_register]}" class="t">注册会员</a></div>
	{/if}
{/if}
{template 'footer', $module}