{template 'header'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<div class="m">
<div class="m_l f_l">
	<div class="left_box">		
		<div class="pos">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')} &raquo; </div>
		<h1 class="title" id="title">{$title}</h1>
		<div class="info">
		上传日期：{$adddate}
		&nbsp;&nbsp;播放次数：<span id="hits">{$hits}</span>	
		</div>
		<div id="player">{template 'content', 'chip'}</div>
		{if $content}
		<div class="left_head">{$MOD[name]}介绍</div>
		{if $CP}{template 'property', 'chip'}{/if}
		<div class="content" id="content">{$content}</div>
		<div class="b10">&nbsp;</div>
		{/if}
		<center>
		[ <a href="{$MOD[linkurl]}search.php" rel="nofollow">{$MOD[name]}搜索</a> ]&nbsp;
		[ <a href="javascript:SendFav();">加入收藏</a> ]&nbsp;
		[ <a href="javascript:SendPage();">告诉好友</a> ]&nbsp;
		[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
		[ <a href="javascript:SendReport();">违规举报</a> ]&nbsp;
		[ <a href="javascript:window.close()">关闭窗口</a> ]
		</center>
		<br/>
		{template 'comment', 'chip'}
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
	<div class="m_r f_l">
		{if $tag}
		<div class="box_head"><div><span class="f_r"><a href="{$MOD[linkurl]}{rewrite('search.php?kw='.urlencode($tag))}" rel="nofollow">更多&raquo;</a></span><strong>相关{$MOD[name]}</strong></div></div>
		<div class="box_body li_video">
		<!--{tag("moduleid=$moduleid&condition=status=3 and tag='$tag' and addtime>$addtime&areaid=$cityid&pagesize=5&order=addtime desc", -2)}-->
		<!--{tag("moduleid=$moduleid&condition=status=3 and tag='$tag' and addtime<$addtime&areaid=$cityid&pagesize=5&order=addtime desc", -2)}-->
		</div>
		<div class="b10"></div>
		{/if}
		<div class="box_head"><div><strong>推荐{$MOD[name]}</strong></div></div>
		<div class="box_body thumb">
		<!--{tag("moduleid=$moduleid&condition=status=3 and level>0&catid=$catid&areaid=$cityid&pagesize=6&order=addtime desc&length=20&width=120&height=90&cols=2&template=list-video", -2)}-->
		</div>
		<div class="b10 c_b"> </div>
		<div class="box_head"><div><strong>点播排行</strong></div></div>
		<div class="box_body">
		<div class="rank_list"><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$today_endtime-60*86400&catid=$catid&areaid=$cityid&order=hits desc&pagesize=10")}--></div>
		</div>
	</div>
</div>
{if $video_i}<script type="text/javascript" src="{DT_STATIC}file/script/player.js"></script>{/if}
{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
{template 'footer'}
{if $video_i}
<script type="text/javascript">
if(UA.match(/(iphone|ipad|ipod|android|mac os)/i)) {
	if(Dd('player').innerHTML.indexOf('embed')!=-1) {
		Dd('player').innerHTML = '<div class="player">'+player('{$video_s}', {$video_w}, {$video_h}, 0, {$video_a})+'</div>';
	}
}
</script>
{/if}