*{font-family:Verdana,Arial;}
html {height:100%;}
body {margin:0px;height:100%;font-size:12px;color:#000000;background:#FFFFFF;}
input,select,textarea {font-size:12px;}
img {border:none;}
label {color:#ACA899;font-size:10px;}
li {list-style-type:none;}
ul,form {margin:0px;padding:0px;}
fieldset {line-height:180%;}
a:link,a:visited,a:active {color:blue;text-decoration:none;}
a:hover {color:red;}
.out {width:550px;border-top:#808080 1px solid;border-bottom:#404040 1px solid;border-left:#808080 1px solid;border-right:#404040 1px solid;}
.in {background:#D4D0C8;border-bottom:#808080 1px solid;border-top:#FFFFFF 1px solid;border-left:#FFFFFF 1px solid;border-right:#808080 1px solid;}
.head {background:#FFFFFF url('head.gif') repeat-x;border-bottom:#808080 1px solid;}
.head div {height:66px;background:url('logo.gif') no-repeat 452px 38px;padding:3px 0 0 15px;line-height:32px;}
.head strong {font-size:14px;color:#FFFFFF;font-family:Arial;}
.body {height:250px;border-top:#FFFFFF 1px solid;border-bottom:#808080 1px solid;overflow:hidden;}
.body div {padding:15px;}
.foot {border-top:#FFFFFF 1px solid;padding:0 10px 0 20px;}
.progress {width:200px;height:6px;padding:1px;font-size:1px;border:#444444 1px solid;background:#FFFFFF;}
.progress div {height:6px;background:#0A246A;}